body {
  font-family: Courier;
  text-align: center;
  justify-content: center;
  color: rgb(240, 231, 231);
  font-size: 40px;
  background-color: rgba(111, 110, 110, 0.844);
  font-weight: bold;
  position: relative;
}
.grid-sec{
  text-align: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}
.grid-container {
  display: grid;
  grid:
    'myArea myArea . . .'
    'myArea myArea . . .';
  height: fit-content;
  width: fit-content;
  grid-gap: 10px;
  background-color: black;
  padding: 10px;
  grid-template-columns: 40px 40px 40px 40px 40px;
  justify-content: center;
  margin: auto;
}

.grid-container>div {
  background-color: rgba(111, 110, 110, 0.844);
  width: 40px;
  height: 7px;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  border: 1px solid #fff;
}

.previous-sub {
  text-align: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}

#text{
  background-image: url("http://3.bp.blogspot.com/-4oAWWCcNNz4/Tjr3nKNyVUI/AAAAAAAAPLU/Pouua-pNsEY/s1600/sq.gif");    
  width: 100px;
  height: 18px;
  background-size: 20px;
  border: none;
  font-family: monospace;
  font-size: 13px;
  padding-left: 5px;
  letter-spacing: 12px;
}
