body {
  font-family: Courier;
  color: rgb(240, 231, 231);
  font-size: 40px;
  background-color: rgba(111, 110, 110, 0.844);
  font-weight: bold;
  position: relative;
}

.grid-container {
  display: grid;
  grid:
    'myArea myArea . . .'
    'myArea myArea . . .';
  height: fit-content;
  width: fit-content;
  grid-gap: 10px;
  background-color: black;
  padding: 10px;
  grid-template-columns: 40px 40px 40px 40px 40px;
  justify-content: center;
  margin: auto;
}

.play-area {
  text-align: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}
.previous-outer {
  text-align: right;
  justify-content: right;
  height: 30%;
  width: 100%;
}
.previous-inner {
  align-self: right;
  text-align: left;
  justify-content: left;
  margin-left: auto; 
margin-right: 0;
  height: 100%;
  width: 30%;
}

.grid-container>div {
  background-color: rgba(111, 110, 110, 0.844);
  width: 40px;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
  border: 1px solid #fff;
}